/* NAVBAR */
.ui.inverted.vertical {
    width: fit-content;
}

.nav-sidebar {
    height: 100%;
    width: 60px;
    transition:.3s width ease-in-out;
}

.nav-sidebar.active {
    height: 100%;
    width: 260px;
}

/* Bars icon */
/* .inverted.vertical > i {
    cursor: pointer;
    color:white;
    margin:10px 0 0 14.5px;
} */

.nav-sidebar a {
    width: 100%;
    display: flex !important;
    align-items: flex-start;
}

.nav-sidebar i {
    margin:0 .5em 0 0 !important; 
}

.nav-sidebar span {
    width: 100%;
    display: none;
    height: fit-content;
    line-height: normal;
    padding-right: 5px;
}

@keyframes spanOpacity {
    from {
        margin-left:-100%;
        opacity: 0;
    }

    to {
        margin-left:0;
        opacity: 1;
    }
}

.nav-sidebar.active span {
    display: flex;
}

.nav-sidebar .item.title span {
    width: 100%;
}

.nav-sidebar i.dropdown {
    align-self: center !important;
    display: none !important;
}

.nav-sidebar.active i.dropdown {
    display: contents !important;
}

.nav-sidebar .item.content > a {
    margin-bottom: 10px;
}

.ui.inverted.vertical{
    top: 56px;
}

.ui.menu {
    border-radius: 0 !important;
    background-color: #2185d0;
    min-height: 49px;
}

.ui.menu a.item{
    color: white;
    padding: 18px 15px !important;
}
.ui.left.pointing.dropdown{
  display: block;
}

.ui.inline.dropdown{
    color: white;
}

.ui.inverted.vertical.ui.overlay.left.visible.sidebar.blue.menu {
  overflow: visible !important;
}

.ui.left.pointing.dropdown:after {
  content: '';
  border: 3px solid #fff;
  color: #2185d0;
  padding: 4px;
  border-left: none;
  border-bottom: none;
  opacity: 0.3;
  position: absolute;
  right: 6px;
  top: 39%;
  transform: rotate(
  45deg
  );
}

.ui.left.pointing.dropdown>.menu{
    margin: 0 0 0 1px;
}

.menu.transition.visible{
    width: 50px;
    
}
.menu.transition.visible a{
    color:black;  
}

.menu.transition.visible a :hover{
    display: flex;
    text-decoration: none;
    padding: auto;
    color:black;  
    background-color: #eee;
    padding: 8px 12px;
}
.menu.transition.visible a span{
    padding: 8px 12px !important;
    
    
}

.ui.container {
    width: 1127px;
    margin-left: 80px!important;
    margin-right: 80px!important;
}

.react{
    top: 50%;
    left: 50%;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.pushable{
    height: calc(100vh - 56px) !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    margin-top: 0 !important;
}

.pusher{
    height: calc(100vh - 56px);
}

.sidebar {
    top: 0 !important;
}
